.main img{
	position: relative;
	top:80px;
	left:60px;
	z-index: 100;
}

.box{
	position: relative;
	background-color: #fff;
	top:38px;
	left:70px;
	width: 86%;
	height: 500px;
}

.grid {
	position: relative;
	left: 100px;
	vertical-align: center;
	top: 100px;
	height: 100%;
	width: 90%; /*i want this to be the same as box.width*/

}

.grid .container{
	position: relative;
	background-color: #ffffff;
	left: 100px;
	width: 300px;
	height: 228px;
	top: 30px;
	overflow: hidden;
	float: left;

	margin: 40px;
}

.grid img{
	max-width: 300px;
	max-height: 228px;
}

.grid img:hover{
	opacity: .7;
}
	
.grid .caption{
	z-index: 100;
	display: none;
	position: absolute;
	background-color: black;
	top: 50%;
	left: 0;
	right: 0;
	text-transform: uppercase;
	font-family: HelveticaNeueLTStd-ThCn;
    font-weight: bold;
	vertical-align: center;
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 1.1em;
}

a:hover .caption {
    display: block;
}​
	


