.main img{
	position: relative;
	top:80px;
	left:60px;
	z-index: 100;
}

.box{
	position: relative;
	background-color: #fff;
	top:38px;
	left:70px;
	width: 86%;
	height: 500px;
}


.g {
	position: relative;
	padding: 0.25em;
	top: 200px;
	overflow: hidden;
	list-style-type: none; 
	}
	.g container {
		margin-left: 10em;
		width: 50%;
		display: inline-block;
    	position: relative;
		
	}
	.g img {
		margin: 10px;
		background-color: #ffffff;
		overflow:hidden;
		position: relative;
		width: 280px;
		height: 200px;
		display: block;
	}
	.g img:hover{
		opacity: .7;
	}


	.g a {
	    display: inline-block;
	    position: relative;
	}
	.caption {
		z-index: 100;
	    display: none;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    vertical-align: center;
	    text-align: center;
	    color: black;
	    font-weight: bold;
	    line-height: 1.1em;
	}
	a:hover .caption {
    display: block;
	}​



/*
.g {
	position: relative;
	padding: 0.25em;
	top: 200px;
	overflow: hidden;
	list-style-type: none; 
	}
	.container {
		float: left;
		margin-left: 10em;
		width: 50%;
		display: inline-block;
    	position: relative;
		
	}
	.g img {
		margin: 10px;
		background-color: #ffffff;
		overflow:hidden;
		position: relative;
		width: 280px;
		height: 200px;
		display: block;
	}
	.g img:hover{
		opacity: .5;		
	}
	.g title{
		z-index: 100;
		position:relative;
	    width: 100%;
	    color: #fff;
	    font-size: 10px;
	    font-weight: bold;
	    background-color: rgba(0, 0, 0, 0.5);
	    text-align: center;
	    display: hidden;
	    vertical-align: middle;
	}
	.container:hover title{
		display: block;



*/
	}
	.container:nth-child(odd) {
		clear: left;
	}

	@media screen and (min-width: 40em) {
		.container {
	    	width: 33.3333333333333333%; 
	  	}
	  	.container:nth-child(3n+1) {
	  		clear: left;
	  	}
	  	.container:nth-child(odd) {
			clear: none;
		}
	}
	@media screen and (min-width: 55em) {
		.container {
	    	width: 25%; 
	  	}
	  	.container:nth-child(4n+1) {
	  		clear: left;
	  	}
	  	.container:nth-child(3n+1) {
			clear: none;
		}
	}
	@media screen and (min-width: 72em) {
		.container {
	    	width: 20%; 
	  	}
	  	.container:nth-child(5n+1) {
	  		clear: left;
	  	}
	  	.container:nth-child(4n+1) {
			clear: none;
		}
	}
	@media screen and (min-width: 90em) {
		.container {
	    	width: 16.666666666%; 
	  	}
	  	.container:nth-child(6n+1) {
	  		clear: left;
	  	}
	  	.container:nth-child(5n+1) {
			clear: none;
		}
	}


