body{
    background-color: #343434;
}   

	#header{
		width: 110%;
		height: 65px;
		background-color: black;
		position: relative;
		top: 30px;
	}

	#logo{
		width:40%;
		position: relative;
		top: -12px;
	}

 	#menu {
    width: 50%;
    padding: 21px;
    font-family: HelveticaNeueLTStd-ThCn;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    overflow: inherit;
    top: -91px;
 	height: auto;
    right: 10%;
    float: right;
	}

	#menu a{
	color: #ffffff;
	text-decoration: none;
	}

	#menu a:hover {
	color: #b1b1b1;
	}